*{
    margin: 0 !important;
    font-family: 'Mukta', sans-serif !important;
  }
  #logo{
    width: 10%;
  }
  .navbar-brand{
    color: #f24545 !important;
  }
  header{
    background-color: rgb(17, 17, 17);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 1px 1px 1px;
  
  }
  #logo{
    font-size:45px !important;
    font-family: 'Dancing Script', cursive !important;
    font-weight: 700 !important;
  }
  .navbar-nav{
    margin-left: 0% !important; 
  }
  .nav-item{
    margin-top: 0%;
    margin-left: 12%   !important;
    font-size: 20px !important; 
  }
  
  .nav-link{
    color:white !important;
    transition: 0.5s !important;
    font-family: 'Mukta', sans-serif !important;
  }
  .nav-link:hover{
    color: #f24545 !important;
  }
  img{
   bottom: 10% !important;
  }
  hr{
    color: rgb(255, 255, 255) !important;
    width: 100%;
    }
 
  
 
 
  .linkparent{
    color: transparent;
  }
  #main-holder {
    margin-top:7% !important ;
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #f24545;
    cursor: pointer;
    outline: none;
  }
  